html{
	font-family: Arial, monospace;
}



@media only screen and (max-width: 768px) {
  .mynews-header-1{
      display: none;
  }
  .mynews-header-2{
      background-color: black;
      color:white;
  }
}
@media only screen and (min-width: 768px) {
  .mynews-header-2{
      display: none;
  }
}


.row{
  /* border: 2px solid #bcbcbc; */
  background-color: #eeeeee;
}
#language{
  color:black;
  background-color: white;
}

#search-sbl:hover{
  background-color: white;
}
#minus-sbl:hover{
  background-color: white;
}
#plus-sbl:hover{
  background-color: white;
}
#refresh-sbl:hover{
  background-color: white;
}

.menu{
  background-color: black;
  color:white;
}
* {
    box-sizing: border-box;
  }



/* CSS for loader */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loader-sbl{
  display: none;
}
